//*{outline: 1px solid rgba(255,0,0,0.3);}

/*COLOR*/
$azul-dark:   #303F9F;
$azul:        #31468E; //3F51B5
$azul-light:  #C5CAE9;
$blanco:   #FFFFFF;
$accent-color:         #03A9F4;
$negro:   #212121;
$secondary-text-color: #757575;
$gris:        #BDBDBD;
$cloud: #E8E8E8;
$amarillo: #FFBF00;
$rojo: #28AFB0; //#E83F6F;
$verde: #32936F;

h1,h2,h3,h4,h5{
	font-family:'Monserrat',sans-serif !important;
}
.btnPrincipal{
	background: $rojo !important;
	color:#fff !important;
	}
.btnPrincipal:hover{
		cursor: pointer !important;
		background: #4FBDBE !important; //#EC6189
		color:#fff !important;
}
.row{font-size:1.1rem;}
.nopad{
	padding:0;
	p{padding:0;}
}
.boldT{font-weight:700 !important;}
.xboldT{font-weight:800 !important;}
.lightT{font-weight:300 !important;}
.pd-1{padding:1.5rem;}
.mg-b{margin-bottom:1rem;}
.mg-l{margin-left:0.5rem;}
.accentTxt{color:#03A9F4;}
.grayTxt{color:$secondary-text-color !important;}
.darkTxt{color:$negro !important;}
.grayBox{border: #BDBDBD solid 1.5px; padding:1rem;}
.darkBox{border: $secondary-text-color solid 1.5px; padding:1rem;}
.blueT{color:$azul !important;}
.redT{color:$rojo !important;}
.yellowT{color:$amarillo !important;}
.whiteT{color: #fff !important;}

//NAVEGADOR
.navbar-brand{color:$azul;}
.navbar{
background-color:$blanco;
border-bottom:$gris solid 1.5px;
margin-bottom:1rem;
li {
	a {
  color: $amarillo;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 700;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $amarillo;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
}
}
.bluebg{background-color:$azul; //Fondo
h1,h2,h3,h4,h5{color:#fff;}
li,p{color:#fff;}
}
.redbg{background-color:$rojo; .whitebg{border-radius:10px;}}
.yellowbg{background-color:$amarillo; .whitebg{border-radius:10px;}}
.whitebg{background-color:#fff; //Fondo
p{color:$secondary-text-color;}
padding:1rem !important;}
.ybox{
	border: $amarillo 0.5rem solid;
	border-radius:8px;
	padding:0.5rem !important;
}
.rbox{
  border: $rojo 0.5rem solid;
  border-radius:8px;
  padding:2rem !important; 
}
.bbox{
  border: $azul 0.5rem solid;
  border-radius:8px;
  padding:0.5rem !important;   
}

.hbox{
	padding:1rem 0;
	h2,h3,h4,p,button{padding:0.5rem;}
	p{font-size:1.2rem;}
	img{ width:100%; border-radius:5px;}
}
/*COVERS*/
.bg {
  background: url("../img/cover2.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 40rem !important; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
.bgSmall{
  background-size: cover !important;
  background-position:center !important;
  position: fixed;
  width: 100%;
  height: 40rem !important; 
  top:0;
  left:0;
  z-index: -1;	
}
.bgSmallI{
  background-size: cover !important;
  background-position:center !important;
  position: fixed;
  width: 100%;
  height: 45rem !important; 
  top:0;
  left:0;
  z-index: -1;  
}
.bgSmallS{
  background-size: cover !important;
  background-position:center !important;
  position: fixed;
  width: 100%;
  height: 43rem !important; 
  top:0;
  left:0;
  z-index: -1;  
}
.portada {
	h1:first-child {font-weight:700;}
  height: 32rem;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
.portadaSmall{
  height: 26rem;
  background:transparent;	
  padding:2rem;
  h1{color:$rojo; font-weight:700; }
  .whitebg{border-radius:9px;}
}
.portadaSmallI{
  height: 32rem;
  background:transparent; 
  padding:2rem;
  h1{color:$rojo; font-weight:700; }
  .whitebg{border-radius:9px;}
}
.portadaSmallS{
  height: 34rem;
  background:transparent; 
  padding:2rem;
  h1{color:$rojo; font-weight:700; }
  .whitebg{border-radius:9px;}
}
//IMG COVERS
.nosotrosP{
background: url("../img/bodeguero.jpg") no-repeat;	
}
.prestamosP{
background: url("../img/bodega.jpg") no-repeat;		
}
.inversionesP{
background: url("../img/familia2.jpg") no-repeat;   
}
.serviciosP{
background: url("../img/cover2.jpg") no-repeat;   
}

/*Barra contacto*/
.contactBar{
border:$gris solid 1.5px;
padding:2.3rem;
background:#fff;
}

/*ESTILOS DE TABS*/
.simulationP{
#exTab1 .tab-content {
  color :$negro;
  background-color: #fff;
  padding : 5px 15px;
  border-radius: 0 5px 5px 5px;
}



//.tabLink{border-bottom:1px solid #fff;}
a.active{border-bottom:1px solid #fff; background-color:#fff !important;
p{color:$azul; font-weight:700;}}
}
.tabLink a{
	padding:0.6rem;
	img{margin-left:0.4rem;}
	border: 1px solid $gris;
	background-color:#fff;
	border-radius: 5px 5px 0 0;
	color:$secondary-text-color;text-decoration:none;
}
.modal-content{
  //background-color: none;
  background: url('../img/party.jpg') no-repeat !important;
  background-size: cover !important;
  padding:1rem !important;
  .modal-body{padding:0 2rem !important;}
}
.card-header{
  background:$rojo !important;
  a{color: #fff !important;
  font-weight: 700;
text-decoration:none;}
}

@media (max-width: 1240px){
.navbar{display: flex;
flex-wrap: wrap;}
.navbar a img{width: 20% !important;}
.navbar-nav {margin-right: 0 !important;}
}

@media (max-width: 990px){
.navbar{display: flex;
flex-wrap: nowrap;}
.navbar-toggler-icon{background-image: url("../img/menu.png");
}
.navbar-brand{
  h2{
  font-size: 1.5rem !important;
  }}

  h1{font-size:2rem;}
h2{font-size:1.8rem;}
h3{font-size:1.6rem;}
h4{font-size:1.4rem;}
h5{font-size:1.1rem;}
.portadaSmall{height:45rem;}
.tabLink a p.d-inline-block{display:none !important;}
.tab-content input, .tab-content select{width:10rem;}
.bgSmallI{height:60rem !important;}
.portadaSmallI{height:53rem;
.yellowT{font-size:1.4rem;}}
.whitebg.rbox input, .whitebg.rbox select{width:10rem;}
.portadaSmallS{height:45rem;}
.media img{width:4rem !important;}
}

