extends ci/estructura.pug
include ci/mixin.pug

block detalle
	+portada('INVERSIONES','abf')
	.row.justify-content-center
		.col-md-10
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
	.row
		.imagen.col.row.justify-content-center
			img(src="https://i.pinimg.com/736x/55/b3/af/55b3afe3275367bc8e6edc10501199be--flat-illustration-art-illustrations.jpg", style = "width:20rem; height:20rem")
		.contenido.col
			h3 ¿CÓMO GARANTIZAMOS TU INVERSIÓN?
			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			button.btn Más información
	.row
		.contenido.col
			h3 ¿CUÁNTO PAGAMOS POR TU INVERSIÓN?
			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			button.btn Más información
		.imagen.col.row.justify-content-center
			img(src="https://i.pinimg.com/736x/55/b3/af/55b3afe3275367bc8e6edc10501199be--flat-illustration-art-illustrations.jpg", style = "width:20rem; height:20rem")
	.row.justify-content-center
		.col-md-10
			h4 SIMULACIÓN
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum