extends ci/estructura.pug
include ci/mixin.pug

block detalle
	+portada('NOSOTROS','nosotrosP')
	.row.justify-content-center.whitebg.align-items-center.pd-1
		.col-md-10
			h3.mg-b.boldT Únete a la comunidad de Mutual Popular, la Mutual del Pueblo
			h4 Saca tu cuenta: 
			h4.text-justify Somos, una financiera de apoyo social regulada por la Superintendencia de Banca, Seguros y AFP.
			h5.text-justify Nuestro objetivo es apoyar a las familias con fáciles préstamos prendarios ayudando a enfrentar sus  problemas con los bancos, cajas municipales, financieras, prestamistas de la calle y agiotistas (incluso cuando estamos marcado por la centrales de riesgo).
	.row.justify-content-center.palebg.align-items-center.pd-1
		.col-md-10
			p.boldT Te autorizamos a verificar nuestra documentación de respaldo:
			ol
				li Superintendencia de Banca, Seguros y AFP, Resolución Nº 2017-00047831
				li SUNAT, RUC Nº 20602178618
				li SUNARP, Registro públicos, Partida Nº 11370177
				li Municipalidad Provincial de Arequipa. Licencia de Funcionamiento Nº 00010021410MPA
				li INDECI, Defensa Civil, Registro Nº 1281-2017-MPA
	.row.justify-content-around.whitebg.pd-1
		.col-md-5.grayBox
			h4.text-center MISIÓN
			p La solución inmediata a tus problemas financieros en línea y presencial, de préstamos y de inversiones. Si nadie te presta Mutual Popular te presta.
		.col-md-5.grayBox
			h4.text-center VISIÓN
			p Ser la empresa de mayor confianza en el mercado financiero de crédito prendario en el país y de inversiones financieras con la mejor garantía, para promover el desarrollo y el éxito de nuestros clientes.
	.row.justify-content-center.palebg.align-items-center.pd-1
		.col-md-8
			h3 Nuestras características:
			ul
				li Préstamos en línea, comodidad y servicios las 24 horas al día, 7 días a la semana.
				li Las mayores ventajas, ahorro en tiempo y pasajes, todo desde tu casa.
				li Solicitud de préstamo en línea por Whatsapp o Facebook.
				li Solo envía la foto de la joya, artefacto máquina o automóvil y tendrás un préstamo inmediato.
				li Transparencia en la información.
				li Garantía de empresa legalmente constituida y con todos sus registros.
				li La seguridad y la información personal y confidencial.
				li Somos la innovación en préstamos y en inversiones, altos intereses por tu inversión y bajos intereses por tus préstamos.
				li Te ayudamos a solucionar tus problemas con bancos, por eso nos prefieren.
				li Nuestra plataforma está asociada a Kasnet, la más grande red de Agentes Corresponsales Multibanco del país, casi todos los bancos en línea con nosotros. 