extends ci/estructura.pug
include ci/mixin.pug

block detalle
	+modal('modalJoyas','aJoya')
	+modal('modalElec','aElec')
	+modal('modalVehiculo','aVehiculo')
	+modal('modalInmu','aInmu')
	.bgSmall.prestamosP
	.row.portadaSmall.justify-content-center
		.col-md-6.whitebg
			h3.yellowT.boldT ¡Préstamos al instante!
			ul
				li Solicita desde 100 hasta 10,000 soles.
				li Obtén tu pre-aprobación al instante.
				li Préstamos para tu negocio, deudas, hogar, educación y más.
				li Solo con una prenda tienes tu dinero en 10 minutos.
	.row.justify-content-center.whitebg.align-items-center.pd-1
		.col-md-10.ybox
			h3.boldT.blueT Requisitos
			ol
				li DNI Vigente
				li Contar con ingresos mensuales o negocio con RUC
	.row.justify-content-center.redbg.align-items-center.pd-1.simulationP
		.container#exTab1
			h2.yellowT.xboldT.mg-b.text-center ¡Simula tu préstamo!
			h4.mg-b.whiteT Préstamos con garantía en...
			ul.nav.nav-pills
				+tab('active','#1a','Joyas','../img/diamond.png')
				+tab(' ','#2a','Electrodomésticos','../img/iron.png')
				+tab(' ','#3a','Vehículos','../img/car.png')
				+tab(' ','#4a','Inmuebles','../img/home.png')
			div.tab-content.clearfix
				+tabCont('active','1a','joyas')
				+tabCont(' ','2a','electro')
				+tabCont(' ','3a','vehiculo')
				+tabCont(' ','4a','inmu')
	.row.hbox.bluebg.align-items-center#auto
		.contenido.col.text-center
			h3.xboldT ¿Necesitas dinero y tienes un auto?
			h5.yellowT Te prestamos dinero ¡Tu auto es la garantía!
			h4 ¡PRÉSTAMO INMEDIATO SIN DEJAR TU AUTO!
			.nopad.text-left.col-md-8.ml-5(style="width:70%;")
				ul
					li No revisamos historial crediticio
					li No necesitas boleta de Pago
					li Interés preferencial
			h4.yellowT ¡Tu auto lo sigues utilizando!
			h3 Te damos el dinero y 
				span.yellowT.boldT te lo llevas manejando
			a.btn.btnPrincipal.btn-lg(role="button",href="contacto.html") ¡Quiero un préstamo!
		.imagen.col.text-center
			img(src="../img/auto.jpg")
	.row.hinversion.hbox.yellowbg.align-items-center
		.imagen.col.text-center
			img(src="../img/familia.jpg")
		.contenido.col.text-center
			h3.whiteT ¿Necesitas dinero y tienes una propiedad?
			h5.xboldT.redT ¡PRÉSTAMO AL TOQUE!
			.nopad.text-left.col-md-8.ml-5.blueT(style="width:70%;")
				ul
					li No graduamos la propiedad en registros públicos
					li No revisamos historial crediticio
					li No necesitas boleta de Pago
					li Interés preferencial

			a.btn.btnPrincipal.btn-lg(role="button",href="contacto.html") ¡Quiero un préstamo!
