extends ci/estructura.pug
include ci/mixin.pug

block detalle
	.bgSmallS.serviciosP
	.row.portadaSmallS.justify-content-center
		.col-md-8.whitebg.text-center
			h2.blueT.xboldT.mg-b Nuestros servicios
			ul.text-justify
				li Cambio del dólar al día
				li Transferencias
				li Pago de Remesas del Exterior
				li Pago Virtual de Documentos
				li Servicios de Recaudación
				li Consulta Código Cuenta Interbancario
				li Compra y Venta de Moneda Extranjera
				li Visa Checkout
				li Retención ElectrCompara intereses con otros bancos