extends ci/estructura.pug
include ci/mixin.pug

block detalle
	.bgSmallS.serviciosP
	.row.portadaSmallS.justify-content-center
		.col-md-8.whitebg.text-center
			h2.blueT.xboldT.mg-b LLÉVATE UNA COMPUTADORA
				span.yellowT  GRATIS
			h4 Solo debes registrar tus datos y automáticamente participas en el sorteo