extends base.pug

block content
	block detalle
	div.row.justify-content-around.contactBar
		h1 ¿NECESITAS MÁS INFORMACIÓN?
		a.btn.btn-lg.btnPrincipal(role="button",href="contacto.php") Contáctanos